# m h  dom mon dow   command
@reboot /opt/roardaemon/cronjob.sh
0-59/15 * * * *  touch /calendars/sendupdates
1-59/15 * * * *  /opt/roardaemon/cronjob.sh
*    * * * *  /opt/roardaemon/cronjob.sh check

